/* General styles */
body {
    font-family: Cursive, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f66363;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 100;
}

/* Navigation styles */
nav {
    color: black;
    padding: 1px;
    text-align: center;
}

nav a {
    color: black;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 10px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.centered-list {
    list-style: disc;
    list-style-position: inside;
    padding: 10px;
    display: block; /* Changed from flex to block */
    text-align: center; /* Center the list itself */
}

.centered-list li {
    display: list-item;
    text-align: center; /* Center the text within the list item */
    margin: 10px 0; /* Add margin to space out the items vertically */
    width: fit-content; /* Ensure the list item width fits the content */
    margin-left: auto; /* Center the list item horizontally */
    margin-right: auto; /* Center the list item horizontally */
}